.btn-primary {
  @include button-variant(
    $background: $primary,
    $border: $primary,
    $color: $light, // Textfarbe
    $hover-background: $dark,
    $hover-border: $dark,
    $hover-color: $light
  );
  box-shadow: 0 0 3px $link-color;
  &:hover{
    box-shadow: 0 0 0px $link-color;
  }
}

[data-bs-theme="dark"] .btn-primary {
  @include button-variant(
    $background: $primary,
    $border: $primary,
    $color: $light, // Textfarbe
    $hover-background: $light,
    $hover-border: $light,
    $hover-color: $dark
  );
  box-shadow: 0 0 3px $link-color;
  &:hover{
    box-shadow: 0 0 0px $link-color;
  }
}

.btn-secondary {
  @include button-variant(
    $background: $dark,
    $border: $dark,
    $color: $light, // Textfarbe
    $hover-background: $primary,
    $hover-border: $primary,
    $hover-color: $light
  );
  &:hover{
    box-shadow: 0 0 3px $link-color;
  }
}

[data-bs-theme="dark"] .btn-secondary {
  @include button-variant(
    $background: $light,
    $border: $light,
    $color: $dark, // Textfarbe
    $hover-background: $primary,
    $hover-border: $primary,
    $hover-color: $light
  );
  &:hover{
    box-shadow: 0 0 3px $link-color;
  }
}
