@keyframes moveInParent {
    0%   { left: 0%; top: 0%; }
    50%  { left: 20%; top: 80%; }
    100% { left: 0%; top: 0%; }
}

@keyframes moveInParent2 {
    0%   { left: 20%; top: 40%; }
    50%  { left: 90%; top: 10%; }
    100% { left: 20%; top: 40%; }
}

@keyframes moveInParent3 {
    0%   { left: 50%; top: 40%; }
    50%  { left: 60%; top: 30%; }
    100% { left: 50%; top: 40%; }
}

@keyframes moveInParent4 {
    0%   { left: 70%; top: 10%; }
    50%  { left: 10%; top: 90%; }
    100% { left: 70%; top: 10%; }
}

@keyframes pulseShape {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes slidePercent {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(-76%, -80%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes floatDiagonal {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-200px, -100px);
    }
}

@keyframes floatY {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}

@keyframes floatX {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(150px);
    }
}