.cta{
    h5{
        color: #fff !important;
    }
    h3{
        font-weight: 700;
        font-size: 3.5rem;
        color: #fff !important;
        @media #{map-get($breakpoints-max, xl)} {
            font-size: 3rem;
        }

        @media #{map-get($breakpoints-max, lg)} {
            font-size: 2.75rem;
        }

        @media #{map-get($breakpoints-max, sm)} {
            font-size: 2.5rem;
        }

        @media #{map-get($breakpoints-max, xs)} {
            font-size: 2.25rem;
        }
    }
    &__fancy{
        background: linear-gradient(45deg, rgb(0, 26, 255) 0%, rgb(0, 68, 255) 60%, rgb(0, 238, 255) 100%);
        overflow: hidden;
        box-shadow: 0px 40px 50px rgba(7, 18, 133, 0.3);
        padding: 90px 100px;
        @media #{map-get($breakpoints-max, lg)} {
            padding-left: 60px;
            padding-right: 60px;
        }

        @media #{map-get($breakpoints-max, sm)} {
            padding: 50px 40px;
        }

        @media #{map-get($breakpoints-max, xs)} {
            padding: 40px 30px;
        }

        @mixin shape-base($size, $color) {
            width: $size;
            height: $size;
            background-color: $color;
            position: absolute;
            opacity: 0.5;
        }

        #cta_shape_1 {
            @include shape-base(40px, rgba(157, 255, 0, 0.295));
            border-radius: 50%;
            animation: moveInParent 20s ease-in-out infinite;
        }

        #cta_shape_2 {
            @include shape-base(90px, #00d9ff57);
            border-radius: 50%;
            animation: moveInParent2 10s linear infinite;
        }

        #cta_shape_3 {
            @include shape-base(40px, rgba(44, 102, 136, 0.61));
            border-radius: 50%;
            animation: moveInParent3 10s ease-in-out infinite;
        }

        #cta_shape_4 {
            @include shape-base(120px, rgba(0, 255, 191, 0.466));
            border-radius: 50%;
            animation: moveInParent4 30s ease-in-out infinite;
        }

        #cta_shape_5 {
            @include shape-base(1700px, rgba(7, 219, 247, 0.582));
            border-radius: 50%;
            top: 0%;
            left: -90%;
            animation: floatY 10s linear infinite;
        }

        #cta_shape_6 {
            @include shape-base(900px, rgba(15, 107, 211, 0.719));
            border-radius: 50%;
            animation: floatX 3s ease-in-out infinite;
            top: -40%;
            left: 66%;
        }
    }
}