.footer{
    p{
        opacity:  0.6;
    }
    &__top{
        padding-top: 40px;
        @media #{map-get($breakpoints, sm)} {
            padding-top: 100px;
        }
    }

    &__border{
        height: 1px;
        opacity: 0.2;
    }

    &__icon{
        background-color: rgb(36, 36, 36);
    }
}