@use '../utils' as *;

/*----------------------------------------*/
/*  44. FOOTER CSS START
/*----------------------------------------*/

.footer{
    $self:&;
    &__widget{
        &-title{
            font-size: 24px;
            color: var(--tp-common-white);
            margin-bottom: 25px;
            position: relative;
            font-family: var(--tp-ff-space);
        }
        & ul{
            & li{
                list-style: none;
                margin-bottom: 17px;
                line-height: 1;
                color: var(--tp-text-3);
                a{
                    font-family: var(--tp-ff-inter);
                    font-size: 16px;
                    color: var(--tp-text-3);
                    position: relative;
                    padding-left: 13px;

                    @include rtl{
                        padding-left: 0;
                        padding-right: 13px;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        background-color: var(--tp-text-3);
                        width: 5px;
                        height: 5px;
                        background-color: var(--tp-text-3);
                        border-radius: 50%;
                        @extend %tp-transition;

                        @include rtl{
                            left: auto;
                            right: 0;
                        }
                    }

                    &:hover{
                        color: var(--tp-theme-1);
                    }
                }
            }
        }

        & p{
            color: var(--tp-text-4);
            font-size: 16px;
            font-weight: 500;
            font-family: var(--tp-ff-inter);
            margin-bottom: 20px;
        }

        &-5{

            & p{
                font-family: var(--tp-ff-inter);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--tp-text-3);
                margin-bottom: 27px;
            } 
            
            & ul{
                & li{
                    color: var(--tp-text-3);
                    a{
                        color: var(--tp-text-3);
                        &::after{
                            background-color:  var(--tp-text-3);
                        }
    
                        &:hover{
                            color: var(--tp-common-white);
                        }
                    }
                }
            }

            #{$self}{
                &__logo{
                    margin-bottom: 25px;
                }
            }
        }
    }
    &__logo{
        margin-bottom: 15px;
    }
    &__info{
        &-item{
            margin-bottom: 20px;
        }
        &-icon{
            @include rtl{
                margin-right: 0;
                margin-left: 20px;
            }
            & i{
                display: inline-block;
                color: var(--tp-common-white);
                font-size: 16px;
                width: 46px;
                height: 46px;
                line-height: 46px;
                text-align: center;
                background-color: rgba($color: #fff, $alpha: .1);
                border-radius: 8px;
            }
            & span{
                display: inline-block;
                color: var(--tp-common-white);
                font-size: 16px;
                width: 46px;
                height: 46px;
                line-height: 46px;
                text-align: center;
                background-color: rgba($color: #fff, $alpha: .1);
                border-radius: 8px;
                & svg{
                    @include transform(translateY(-2px));
                }
            }
        }
        &-text{
            & h4{
                color: var(--tp-common-white);
                font-family: var(--tp-ff-space);
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 0;
            }
            & a{
                color: var(--tp-text-3);
                font-weight: 400;
                font-size: 14px;
                font-family: var(--tp-ff-inter);

                &:hover{
                    color: var(--tp-theme-1);
	                text-shadow: 0 0 1px var(--tp-theme-1);
                }
            }
        }
    }
    &__contact{
        margin-bottom: 12px;
        & p{
            color: var(--tp-text-1);
            font-size: 16px;
            margin-bottom: 20px;
        }

        & iframe{
            width: 100%;
            height: 110px;
            filter: grayscale(100%);
        }

        &-call{
            & span{
                font-size: 20px;
                font-weight: 500;
                color: var(--tp-common-white);
                font-family: var(--tp-ff-inter);
                & i{
                    color: var(--tp-theme-1);
                }
                & a{
                    &:hover{
                        color: var(--tp-theme-1);
                    }
                }
            }
        }
        &-mail{
            & span{
                font-size: 16px;
                color: var(--tp-text-3);
                font-family: var(--tp-ff-inter);
                line-height: 1;
                & i{
                    color: var(--tp-theme-1);
                }
                & a{
                    &:hover{
                        color: var(--tp-theme-1);
                    }
                }
            }
        }
    }

    &__copyright{
        &-5{
            & p{
                color: var(--tp-text-15);
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0;
                font-family: var(--tp-ff-inter);
                & a{
                    font-weight: 600;
                    color: var(--tp-common-white);
                    display: inline-block;
                }
            }
        }
    }
    &__top{
        position: relative;
        padding-top: 100px;
        padding-bottom: 40px;
        z-index: 1;
        &-5{
            position: relative;
            padding-top: 100px;
            padding-bottom: 20px;
            z-index: 1;
            border-bottom: 1px solid rgba($color: #fff, $alpha: .08);
            @media #{$sm, $xs}{
                padding-top: 40px;
            }
        }
    }
    &__bottom{
        &-5{
            padding-top: 22px;
            padding-bottom: 40px;
        }
    }
    &__opening{
        &-icon{
            @include rtl{
                margin-right: 0;
                margin-left: 15px;
            }
        }
        &-content{
            padding-right: 80px;

            @include rtl{
                padding-right: 0;
                padding-left: 80px;
            }
            & h4{
                font-family: var(--tp-ff-space);
                font-size: 17px;
                letter-spacing: -0.02em;
                color: var(--tp-common-white);
            }
            & p{
                font-family: var(--tp-ff-space);
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: var(--tp-text-3);
            }
        }
    }
}

#footer-float-link{
    overflow: hidden;
    & li{
        float: left;
        width: 50%;

        @include rtl{
            float: right;
        }

        @media #{$xs}{
            width: 100%;
            float: none;
        }
    }
}

.footer-sub-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: var(--tp-common-white);
    background-color: var(--tp-theme-1);

    @include rtl{
        right: auto;
        left: 0;
    }

    &:hover{
        color: var(--tp-common-white);
        background-color: var(--tp-common-black);
    }
}

/* footer col design for home 5 */
.footer-col-5{
    &-1{
        padding-right: 75px;

        @include rtl{
            padding-right: 0;
            padding-left: 75px;
         }
        @media #{$xl}{
            padding-right: 55px;
            
            @include rtl{
                padding-right: 0;
                padding-left: 55px;
            }
        }
        @media #{$md}{
            padding-right: 40px;
            @include rtl{
                padding-right: 0;
                padding-left: 40px;
            }
        }
        @media #{$xs}{
            padding-right: 0;
            @include rtl{
                padding-left: 0;
            }
        }
    }

    &-3{
        padding-left: 100px;
        @include rtl{
            padding-left: 0;
            padding-right: 100px;
        }
        @media #{$xl}{
            padding-left: 70px;
            @include rtl{
                padding-left: 0;
                padding-right: 70px;
            }
        }

        @media #{$lg, $md, $sm, $xs}{
            padding-left: 0;

            @include rtl{
                padding-left: 0;
            }
        }
    }

}
