@use '../utils' as *;

/*----------------------------------------*/
/*  04. MENU CSS START
/*----------------------------------------*/

.main-menu{
    @include rtl{
        padding-left: 0;
        padding-right: 55px;
    }
    @media #{$lg}{
        padding-left: 30px;
        @include rtl{
            padding-left: 0;
            padding-right: 30px;
        }
    }
    & ul{
        & li{
            position: relative;
            list-style: none;
            display: inline-block;
            margin-right: 34px;

            @include rtl{
                margin-right: 0;
                margin-left: 34px;
            }

            @media #{$lg}{
                margin-right: 25px;
                @include rtl{
                    margin-left: 25px;
                    margin-right: 0;
                }
            }

            &:last-child{
                margin-right: 0;
                @include rtl{
                    margin-left: 0;
                }
            }

            & a{
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                color: var(--tp-common-black);
                padding: 22px 0;
                &::after{
                    color: var(--tp-common-black);
                }
                &::before{
                    bottom: 0;
                }
                text-align: left;

                @include rtl{
                    text-align: right;
                }
            }

            &.selected{
                & a{
                    color: var(--tp-theme-1);
                    text-shadow: 0 0 1px var(--tp-theme-1);
                }
            }

			&.has-dropdown{
				& > a{
                    position: relative;
                }
			}

            &.has-mega-menu{
                position: static;
            }

            /* mega menu start */
            & .mega-menu{
                position: absolute;
                top: 100%;
                left: 0;
                padding: 30px 40px;
                background: #FFFFFF;
                box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.1);
                visibility: hidden;
                opacity: 0;
                @include transform(scaleY(0));
                transform-origin: top center;
                @extend %tp-transition;
                z-index: 99;

                @include rtl{
                    right: 0;
                    left: auto;
                }

                & li{
                    float: left;
                    width: 25%;
                    margin-right: 0;
                    text-align: left;

                    @include rtl{
                        float: right;
                        margin-left: 0;
                        text-align: right;
                    }

                    & a{
                        padding: 0;
                    }

                    &:hover{
                        & > .mega-menu-title{
                            padding-left: 0;

                            @include rtl{
                                padding-right: 0;
                            }
                        }
                        & > a{
                            color: var(--tp-theme-1);
                            text-shadow: 0 0 1px var(--tp-theme-1);
                            padding-left: 18px;

                            @include rtl{
                               padding-left: 0;
                               padding-right: 18px;
                            }
                            &::before{
                                width: 12px;
                            }
                        }
                    }
                }
            }

            &:hover{
				& > a{
					color: var(--tp-theme-1);
                    text-shadow: 0 0 1px var(--tp-theme-1);
					&::after{
						color: var(--tp-theme-1);
					}
				}

				& .mega-menu{
					visibility: visible;
					opacity: 1;
                    @include transform(scaleY(1));
				}
			}
        }
    }
    &-ff{
        &-space{
            & ul{
                & li{
                    & a{
                        font-family: var(--tp-ff-space);
                    }
                }
            }
        }
    }

}