.services{
    a{
        max-width: 400px;
        img{
            filter: var(--color-dynamic-logo);
        }
        box-shadow: 0px 15px 30px rgba($color: $secondary, $alpha: .18);
        &::after{
            position: absolute;
            content: '';
            width: 0%;
            height: 20px;
            top: -4px;
            left: auto;
            right: 0;
            background-color: $primary;
            border-radius: 10px;
            z-index: -1;
            box-shadow: 0 0 8px $primary;
            @include transition(.2s);
        }

        &:hover{
            &::after{
                width: 100%;
                left: 0;
                right: auto;
            }
            transform: translateY(-4px);
        }            
    }
}