@use '../utils' as *;

/*----------------------------------------*/
/*  09. SERVICES CSS START
/*----------------------------------------*/

.services{
    $self: &;
    &__section-title{
        &-5{
            padding-left: 70px;
            padding-right: 70px;

            @media #{$sm, $xs}{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &__item{

        &-5{
            position: relative;
            z-index: 1;
            border-radius: 10px;

            &-inner{
                padding: 63px 40px 50px;
                box-shadow: 0px 30px 40px rgba(2, 45, 62, 0.18);
                border-radius: 10px;

                @media #{$lg}{
                    padding-left: 20px;
                    padding-right: 20px;
                }

                @media #{$xs}{
                    padding: 50px 15px 42px;
                }
            }
            &::after{
                position: absolute;
                content: '';
                width: 0%;
                height: 20px;
                top: -4px;
                left: auto;
                right: 0;
                background-color: var(--tp-theme-1);
                border-radius: 10px;
                z-index: -1;
                box-shadow: 0 0 8px var(--tp-theme-1);
                @extend %tp-transition;

                @include rtl{
                    right: auto;
                    left: 0;
                }
            }

            &:hover{
                &::after{
                    width: 100%;
                    left: 0;
                    right: auto;

                    @include rtl{
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    &__title{

        &-5{
            font-family: var(--tp-ff-space);
            font-size: 24px;
            letter-spacing: -0.04em;
            margin-bottom: 12px;
            font-size: 24px;
            color: var(--tp-common-black);
            margin-bottom: 12px;

            & a{
                &:hover{
                    color: var(--tp-theme-5);
                }
            }

        }
    }
    &__content{

        &-5{
            & p{
                font-family: var(--tp-ff-inter);
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: var(--tp-text-1);
                margin-bottom: 35px;
            }
        }
    }
    &__thumb{

        &-5{
            & img{
                height: 220px;

                @media #{$xs}{
                    max-width: 100%;
                }
            }
        }
    }
}





.services-link-btn{
    position: absolute;
    bottom: -35px;
    left: 40px;
    font-family: var(--tp-ff-space);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--tp-common-white);
    transition-delay: 0s;
    transition-duration: .3s;
    visibility: hidden;
    opacity: 0;

    @include rtl{
        left: auto;
        right: 40px;
    }

    @media #{$lg}{
        left: 20px;

        @include rtl{
            left: auto;
            right: 20px;
        }
    }
    & i{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #FFFFFF4D;
        border-radius: 50%;
        margin-left: 5px;
        @extend %tp-transition;

        @include rtl{
            margin-left: 0;
            margin-right: 5px;
        }
    }

    &:hover{
        & i{
            border-color: var(--tp-common-white);
            background-color: var(--tp-common-white);
            color: var(--tp-common-black);
        }
    }
}