.slider{
  .carousel-inner {
    overflow: hidden;
    height: 125%;
    z-index: -1;
    .carousel-item,
    .carousel-item img {
      height: 100%;
      object-fit: cover; // oder contain je nach gewünschtem Verhalten
    }
  }

  .carousel-outer{
    min-height: 750px;
    @media #{map-get($breakpoints-max, lg)} {
      min-height: 650px;
    }
    @media #{map-get($breakpoints-max, md)} {
      min-height: 550px;
    }
    @media #{map-get($breakpoints-max, sm)} {
      min-height: 500px;
    }
    @media #{map-get($breakpoints-max, xs)} {
      min-height: 450px;
    }

    &__textbox{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }

    .text-light{
        text-shadow: 0 0 3px $light;
    }
  }
}