//Font
$font-family-sans-serif: 'Inter',sans-serif;
$font-family-base: $font-family-sans-serif;

// body
$body-bg: $light;
$body-bg-dark: $dark;

$body-color: $dark;
$body-color-dark: $light;

//btn
$btn-color: #ffffff;
$btn-padding-x: 1.8rem;
$btn-padding-y: 0.35rem;
$btn-font-size: 0.95rem;